.cardArtist{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
    background: rgb(247,37,133);
background: linear-gradient(180deg, rgba(247,37,133,1) 0%, rgba(123,11,180,1) 59%, rgba(38,4,44,1) 95%);
    height: fit-content;
    
}

.dashboardstyle{

    background: rgb(247,37,133);
    background: linear-gradient(180deg, rgba(247,37,133,1) 0%, rgba(105,9,121,1) 50%, rgba(0,0,0,1) 100%);
    height: fit-content
}

.inputdashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
    color:white
}
.buttondashboard{
    margin-left: 160px;
    margin-top: 30px;
}

.dashboardstyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 64.6vh;

}