.signupPage{
    background-image: url("https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zODMtMTYuanBn.jpg");
    background-size:cover;
    width: 100vw;
    height: 93.4vh;
} 

.loginsignup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;
}

.error-message{
    color:white
}