.profilepage{
    background-color: #480CA8;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
}

.playlistDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 500px;
    width: 75%;
    padding-bottom: 73.5vh;
    margin-top: 50px;
}

.findmusic{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 100px;
}

