.profilepage{
    background: rgb(247,37,133);
    background: linear-gradient(180deg, rgba(247,37,133,1) 0%, rgba(105,9,121,1) 50%, rgba(0,0,0,1) 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
}

.playlistDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 500px;
    width: 75%;
    padding-bottom: 73.5vh;
    margin-top: 50px;
}

.findmusic{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 100px;
}

