.eachSong{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

img{
    width: 100px;
}

Button{
    margin: 100px;
}

.cardPl{
        margin-top: 20px;
}