.trackCard{
   
    background-color: #4895EF;
    width: 100vw;
    height: 110vh;
   padding-top: 40px;
   padding-left: 90px;

}

.CardMusic{
    margin: 10px;
    width: 400px;
    height: 170px;
   
}

.trackcardBox{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
}