.cardplaylist{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0 50px;
    background-color: #4895EF;
}

.playlistdetails{
    background-color: #480CA8;
    height: 100% ;
}

